body {
    margin:0;
    padding:0;
    font-family: sans-serif; 
}

.loginbox, .forgotPassword {
    width: 320px;
    height: 420px;
    background-color: #000;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: 30%;
}

h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;

}

.loginbox p, .forgotPassword p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}
.loginbox input, .forgotPassword input{
    width: 100%;
    margin-bottom:20px ;
}

.loginbox input[type="text"], .forgotPassword input[type="text"], input[type="password"]{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}

.loginbox  input[type="submit"] , .forgotPassword input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background: #d1b1b1 ;
    font-size: 18px;
    border-radius: 20px;
}

.loginbox input[type="submit"]:hover, .forgotPassword input[type="submit"]:hover {
    cursor: pointer;
    background: #0432FD;
    color: #000;
}

.loginbox a, .forgotPassword a {
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgray;
}

.loginbox a:hover, .forgotPassword a:hover {
    color: #0432FD;
    cursor: pointer;
}